@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-dark: #1E2121;
    --color-light: #E6E1FA;
    --color-light-accent: #EBE7FC;
    --color-purple-accent: #AD9BF4;
    --color-purple-noactive: #AFA7CF;
    --color-purple-card: #574c6e;

    --card-radius: 20px;

    --container-width: 1200px;
    --container-padding-x: 15px;

    --transition-duration: 0.2s;
}

/* #root {
    display: flex;
    flex-direction: column;
    align-items: center;
} */

body {
    background-color: var(--color-dark);
    color: var(--color-purple-noactive)
}

/* .App {
    width: 65%;
    margin: 10rem auto;
} */



.App {
    max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
    margin: 10rem auto;
    /* margin-inline: auto;
    padding-inline: var(--container-width); */
}